/* General reset */
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #000;
  background-color: #2c3e50;
  padding: 40px 20px;
  margin-top: 100px;
  height: 260px;
  width: 90%;
  margin-left: 160px;
}

.first {
  width: 350px;
  margin-right: 150px;
}

.first h2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 8px;
  margin-right: 70px;
}

.first p {
  /* color: #333; */
  color: white;
  line-height: 1.5;
  font-size: 15px;
}

.second {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.second h2 {
  font-size: 1.2rem;
  /* color: black; */
  color: white;
  margin-bottom: 8px;
  margin-right: 80px;
}

.second a {
  text-decoration: none;
  color: white;
  margin-bottom: 6px;
  transition: 0.3s;
}

.third {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.third h2 {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 8px;
  margin-right: 110px;
}

.third a {
  text-decoration: none;
  color: white;
  margin-bottom: 6px;
  transition: 0.3s;
}

.fourth {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
}

.fourth h2 {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icons svg {
  transition: transform 0.3s ease;
}

.icons svg:hover {
  transform: scale(1.2);
}

.fifth {
  width: 100%;
  margin-top: 20px;
  margin-right: 850px;
}

.fifth h2 {
  font-size: 0.9rem;
  color: white;
}

/* Mobile mode */
@media screen and (max-width: 767px) {
  .footer-container {
    width: 70%;
    height:60vh;
  }
  .first p{
    margin-left: 100px;
    flex-direction: column;
  }
  .first h2 {
    flex-direction: column;
  }
  .second a,
  .second h2 {
    flex-direction: column;
  }
  .third a,
  .third h2 {
    margin-top: 0px;
    margin-left: 0px;
    flex-direction: column;
  }
  .fourth h2{
    margin-top: 200px;
    margin-left: -300px;
    flex-direction: column;
  }
  .social-icons{
    margin-left: -300px;
    margin-top: -0px;
  }
}
