* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0e6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.nav h3 {
  color: black;
  font-size: 1.8rem;
  margin-right: 900px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.forgot-img {
  width: 100px;
  height: 20vh;
  margin-left: 700px;
  margin-bottom: 30px;
  img {
    height: 400px;
    width: 400px;
    margin-left: 150px;
    margin-top: 100px;
  
  }
}

.forgot-container{
    height: 400px;
    width: 400px;
    margin-left: 300px;
}
.forgot-container h2{
    font-size: 2rem;
}

.forgot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.forgot-btn button{
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}
.forgot label{
    display: block;
    font-size: 18px;
    margin-right: 160px;
    color: #0d0d0d;
}
.forgot input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  border: 2px solid #f0f0e6;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #333333;
}

.forgot input::placeholder {
  color: #888888;
}

.error-message{
  display: block;
  position: absolute;
  color: red;
}
.p{
    margin-left: 80px;
}

span {
    color: red !important;
}
