* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0e6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}



.issue-books-form {
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    height: 400px;
    margin-left: 400px;
}

h3 {
    text-align: center;
    color: #333333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    color: #000000;
}

.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 2px solid #f0f0e6;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #333333;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
    position: absolute;
}

.button {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    background-color: #333333;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.message {
    color: green;
    margin-top: 10px;
    text-align: center;
}

span {
    color: red;
}
