* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  color: #333;
  margin: 0;
  overflow-x: hidden;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-self: center;
  padding: 40px;
  margin-top: 70px;
  margin-left: 200px;
  gap: 30px;

}

ul {
    list-style-type: decimal;
    margin-left: 10px;
}

.container{
    background-color: #f7f7f7;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    height: 70vh;

    
}
span{
    color: black !important;
    font-size: 1.2rem;
}
