* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0e6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.reset-img {
  width: 100px;
  height: 20vh;
  margin-left: 700px;
  img {
    height: 400px;
    width: 400px;
    margin-left: 150px;
    margin-top: 120px;
  }
}

.reset-container {
  height: 400px;
  width: 400px;
  margin-left: 300px;
  margin-bottom: 110px;
}
.reset-container h2 {
  font-size: 2rem;
}
.reset-otp {
  display: block;
  font-size: 18px;
  margin-right: 230px;
  color: #0d0d0d;
}
.reset-otp input{
  width: 100%;
  padding: 15px;
  font-size: 15px;
  margin-top: 0px;
  border: 2px solid #f0f0e6;
  border-radius: 10px;
  background-color: #f9f9f9;

}


.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reset-btn button {
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
}
.reset-1 label {
  display: block;
  font-size: 18px;
  margin-right: 230px;
  color: #0d0d0d;
}
.reset-2 label {
  display: block;
  font-size: 18px;
  margin-right: 230px;
  color: #0d0d0d;
  margin-top: 20px;
}
.reset-2 input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-top: 0px;
  border: 2px solid #f0f0e6;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #333333;
}
.reset-1 input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-top: 0px;
  border: 2px solid #f0f0e6;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #333333;
}

.reset input::placeholder {
  color: #888888;
}

.error-message {
  display: block;
  position: absolute;
  color: red;
}
.p {
  margin-left: 70px;
}

span {
    color: red !important;
}
